{% extends 'base.html.twig' %}

{% block title %}{{ 'title.category_list'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'title.category_list'|trans }}</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('category_create') }}" class="btn btn-primary mb-3">{{ 'title.create_category'|trans }}</a>
    {% endif %}

    {% if pagination|length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'category.id') }}</th>
                <th scope="col">{{ knp_pagination_sortable(pagination, 'label.name'|trans, 'category.name') }}</th>
                <th scope="col">{{ knp_pagination_sortable(pagination, 'label.description'|trans, 'category.description') }}</th>
                <th scope="col">{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for category in pagination %}
                <tr>
                    <th scope="row">{{ category.id }}</th>
                    <td>{{ category.name }}</td>
                    <td>{{ category.description }}</td>
                    <td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('category_show', {'id': category.id}) }}" class="btn btn-info btn-sm">{{ 'action.view'|trans }}</a>
                            <a href="{{ path('category_edit', {'id': category.id}) }}" class="btn btn-warning btn-sm">{{ 'action.edit'|trans }}</a>
                            <form method="post" action="{{ path('category_delete', {'id': category.id}) }}" style="display:inline-block;">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
                                <button class="btn btn-danger btn-sm" type="submit">{{ 'action.delete'|trans }}</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {% include 'default/_single_alert_message.html.twig' with {
            type: 'warning',
            message: 'message.empty_list'|trans
        } %}
    {% endif %}

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
