{% extends 'base.html.twig' %}

{% block title %}
    Wallet View {{ wallet.id }}
{% endblock %}

{% block body %}
    <h1>Wallet View {{ wallet.id }}</h1>
    {% if wallet is defined %}
        <dl class="dl-horizontal">
            <dt>ID</dt>
            <dd>{{ wallet.id }}</dd>
            <dt>Title</dt>
            <dd>{{ wallet.title }}</dd>
            <dt>Description</dt>
            <dd>{{ wallet.description }}</dd>
            <dt>Balance</dt>
            <dd>{{ wallet.balance }}</dd>
            <dt>Tags</dt>
            <dd>{{ wallet.tags }}</dd>
            <dt>Created At</dt>
            <dd>{{ wallet.createdAt|date('Y/m/d H:i:s') }}</dd>
            <dt>Updated At</dt>
            <dd>{{ wallet.updatedAt|date('Y/m/d H:i:s') }}</dd>
        </dl>
        <p>
            <a href="{{ path('wallet_index') }}" title="Back to list">
                Back to list
            </a>
        </p>
    {% else %}
        <p>
            Wallet not found.
        </p>
    {% endif %}
{% endblock %}
