{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.wallet_view'|trans({'%id%': wallet.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.wallet_view'|trans({'%id%': wallet.id}) }}</h1>
    {% if wallet is defined %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ wallet.id }}</dd>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{ wallet.title }}</dd>
            <dt>{{ 'label.description'|trans }}</dt>
            <dd>{{ wallet.description }}</dd>
            <dt>{{ 'label.balance'|trans }}</dt>
            <dd>{{ wallet.balance }}</dd>
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ wallet.createdAt|format_date('long') }}</dd>
            <dt>{{ 'label.updated_at'|trans }}</dt>
            <dd>{{ wallet.updatedAt|format_date('long') }}</dd>
        </dl>
        <p>
            <a href="{{ path('wallet_index') }}" class="btn btn-secondary">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        {% include 'default/_single_alert_message.html.twig' with {
            type: 'warning',
            message: 'message.wallet_not_found'|trans
        } %}
    {% endif %}
{% endblock %}
