{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.transaction_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.transaction_list'|trans }}</h1>

    <a href="{{ path('transaction_create') }}" class="btn btn-primary mb-3">{{ 'title.create_transaction'|trans }}</a>

    <form method="get" action="{{ path('transaction_index') }}">
        <div class="form-group">
            <label>
                <input type="date" name="startDate" value="{{ startDate ? startDate|date('Y-m-d') }}" class="form-control" placeholder="Start Date"/>
            </label>
            <label>
                <input type="date" name="endDate" value="{{ endDate ? endDate|date('Y-m-d') }}" class="form-control" placeholder="End Date"/>
            </label>
            <label>
                <select name="categoryId" class="form-control">
                    <option value="">{{ 'label.all_categories'|trans }}</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}" {{ selectedCategoryId == category.id ? 'selected' : '' }}>{{ category.name }}</option>
                    {% endfor %}
                </select>
            </label>
            <label>
                <select name="tags[]" class="form-control selectpicker" multiple data-style="btn-primary" data-live-search="true">
                    {% for tag in tags %}
                        <option value="{{ tag.id }}" {{ selectedTags is defined and tag.id in selectedTags ? 'selected' : '' }}>{{ tag.title }}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
        <button type="submit" class="btn btn-secondary">{{ 'action.filter'|trans }}</button>
    </form>

    {% if pagination|length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">{{ 'label.id'|trans }}</th>
                <th scope="col">{{ 'label.date'|trans }}</th>
                <th scope="col">{{ 'label.description'|trans }}</th>
                <th scope="col">{{ 'label.amount'|trans }}</th>
                <th scope="col">{{ 'label.category'|trans }}</th>
                <th scope="col">{{ 'label.tags'|trans }}</th>
                <th scope="col">{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for transaction in pagination %}
                <tr>
                    <th scope="row">{{ transaction.id }}</th>
                    <td>{{ transaction.date|date('Y-m-d') }}</td>
                    <td>{{ transaction.description }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.category.name }}</td>
                    <td>
                        {% for tag in transaction.tags %}
                            {{ tag.title }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% if is_granted('VIEW', transaction) %}
                            <a href="{{ path('transaction_show', {'id': transaction.id}) }}" class="btn btn-info btn-sm">{{ 'action.view'|trans }}</a>
                        {% endif %}
                        {% if is_granted('EDIT', transaction) %}
                            <a href="{{ path('transaction_edit', {'id': transaction.id}) }}" class="btn btn-warning btn-sm">{{ 'action.edit'|trans }}</a>
                        {% endif %}
                        {% if is_granted('DELETE', transaction) %}
                            <form method="post" action="{{ path('transaction_delete', {'id': transaction.id}) }}" style="display:inline-block;">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ transaction.id) }}">
                                <button class="btn btn-danger btn-sm" type="submit">{{ 'action.delete'|trans }}</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        {% include 'default/_single_alert_message.html.twig' with {
            type: 'warning',
            message: 'message.empty_list'|trans
        } %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.selectpicker').selectpicker();
        });
    </script>
{% endblock %}
