{# Default template for forms. #}

<h1>{{ page_title }}</h1>
{{ form_start(form) }}
{% if false == form.vars.valid %}
    {% include 'default/_single_alert_message.html.twig' with {
        type: 'danger',
        message: 'message.form_error'|trans,
    } %}
{% endif %}

{# Iterate over each form field #}
{% for field in form %}
    {% if field.vars.block_prefixes|last != 'hidden' and field.vars.name != '_token' %}
        <div class="form-group{% if field.vars.required %} required{% endif %}">
            {{ form_label(field) }}
            {{ form_widget(field) }}
            {{ form_errors(field) }}
        </div>
    {% endif %}
{% endfor %}

<br>

<div class="form-group row float-sm-right">
    <input type="submit" value="{{ submit_label }}" class="btn btn-primary"/>
</div>

{% if back_to_list_path|default(false) %}
    <div class="form-group row float-sm-left">
        <a href="{{ url(back_to_list_path) }}" class="btn btn-link">
            {{ 'action.back_to_list'|trans }}
        </a>
    </div>
{% endif %}

{{ form_end(form) }}
